*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Norse;
  src: url(../assets/Norse-Bold.otf);
}

:root {
  --input-border-color: #e5e7eb;
  --button-color: #596d48;
  --logo-font: Norse sans-serif;
  --font-color: #fff;
  --left-spacing: 3rem;
}

body {
  font: 16px sans-serif;
}

@mixin link-style($color, $decor) {
  text-decoration: $decor;
  color: $color;
}

.container {
  display: flex;

  .container__background {
    position: relative;
    height: 100vh;
    width: 33%;
    background-image: url(../assets/bg.jpeg);
    background-size: cover;
    background-position: 50%;

    .background__credits {
      position: absolute;
      bottom: 1rem;
      width: 100%;
      color: var(--font-color);
      text-align: center;
      font-size: 13px;

      .credits--name {
        text-decoration: underline;
      }

      a {
        @include link-style(var(--font-color), underline);
      }
    }
    .logo {
      position: absolute;
      top: 22%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15%;
      width: 100%;
      text-align: center;
      background: rgba(0, 0, 0, 0.3);
      padding: 1rem;

      img {
        height: 100%;
      }

      span {
        font: 5rem Norse;
        color: var(--font-color);
      }
    }
  }

  .container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .main__heading {
      width: 59%;
      padding-left: var(--left-spacing);
      margin-bottom: 2rem;
    }

    .main__heading--sub {
      padding-left: var(--left-spacing);
      margin-bottom: 3rem;
    }

    .form__wrapper {
      padding: 1rem 2rem 1.5rem var(--left-spacing);
      margin-bottom: 2rem;
      box-shadow: 0 5px 5px rgba(0, 0, 50, 0.2);

      .form__heading {
        margin-bottom: 1.5rem;
      }

      .field__wrapper {
        display: flex;
        gap: 5rem;
        margin-bottom: 1rem;
      }

      label {
        display: block;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      input {
        width: 18rem;
        height: 2rem;
        font-size: 1rem;
        border: 1px solid var(--input-border-color);
        border-radius: 5px;

        &.focus {
          border: 1px solid blue;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        }

        &.error {
          border: 1px solid red;
        }
      }

      .field--password::after {
        content: "* Passwords do not match";
        display: block;
        color: #ff4646;
        font-size: 13px;
      }
    }

    .btn--submit {
      color: var(--font-color);
      font-weight: bold;
      font-size: 1rem;
      background: var(--button-color);
      padding: 1rem 3rem;
      margin-left: var(--left-spacing);
      margin-bottom: 2rem;
    }

    .form__prompt {
      margin-left: var(--left-spacing);

      a {
        @include link-style(var(--button-color), none);
      }
    }
  }
}

@media (max-width: 1150px) {
  .container .container__background {
    width: 50%;

    .logo,
    .background__credits {
      display: none;
    }
  }

  .container .container__main .field__wrapper input {
    width: 20vw;
  }
}
